.expense-date {
  display: flex;
  width: 9rem;
  height: 3rem;
  border: 1px solid #ececec;
  background-color: #2a2a2a;
  color: white;
  border-radius: 12px;
  align-items: center;
  padding-left: 10px;
  justify-content: flex-start;
}

.expense-date__month {
  font-size: 1rem;
  padding: 2px;
}

.expense-date__year {
  font-size: 1rem;
  padding: 2px;
}

.expense-date__day {
  font-size: 1rem;
  padding: 2px;
}